In [1]:
# NIM/Nama : 16521124/Frendy Sanusi
# Tanggal : 1 Desember 2021
# Deskripsi : Problem 1 - Tugas Pendahuluan #5 Analisa dan Visualisasi Data
                        # 1. Menghitung banyaknya data
                        # 2. Mencari 10 data pertama
                        # 3. Mencari data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60).
                        # 4. Menghitung banyaknya mahasiswa tiap fakultas.
                        # 5. Menghitung nilai korelasi antara nilai fisika dan kimia serta menjelaskan apakah berkorelasi lurus, terbalik, atau tidak berkolerasi

In [2]:
# Import library yang dibutuhkan
import pandas as pd

In [3]:
# Membaca data
df = pd.read_csv('H05.csv')
print(df) # Menampilkan data untuk memudahkan pengerjaan

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]

In [4]:
# 1. Menghitung banyaknya data
print(f'Banyaknya data adalah {len(df)} data.')

Banyaknya data adalah 5135 data.

In [5]:
# 2. Mencari 10 data pertama
print(df[:10])

                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
0            Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1                  Steven Margono    FMIPA      67.43      51.50      57.20
2                    Ryan Sentosa    SAPPK      90.62      37.38      40.73
3            Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4                Alvin Natawiguna     FTSL      65.45      57.67      56.39
5                   Sasti Safitri     FTSL      60.58      41.91      51.55
6             Dani Yulianto Putra     FTSL      51.67      35.05      48.69
7  Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
8             Ratna Siti Khodijah      FTI      73.06      59.16      59.48
9                    Gita Partiwi     FTSL      69.57      38.84      48.17

In [6]:
# 3. Mencari data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60).
print(df[49:60]) # Karena index dimulai dari 0, maka data ke-50 pastilah berindex 49

                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
49      Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
50      Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
51         Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
52          Erna Kristiawati      FTI      67.48      46.78      52.30
53                    Albert    SAPPK      70.27      50.10      54.01
54  M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
55      Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
56              Aisya Tamara     FITB      71.49      35.86      37.41
57        Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
58                Arif Saleh      FTI     100.00      59.79      55.33
59     Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

In [7]:
# 4. Menghitung banyaknya mahasiswa tiap fakultas.
print(df['fakultas'].value_counts())

FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178
Name: fakultas, dtype: int64

In [8]:
# 5. Menghitung nilai korelasi antara nilai fisika dan kimia serta menjelaskan apakah berkorelasi lurus, terbalik, atau tidak berkolerasi
print('Nilai korelasi antara nilai fisika dan kimia adalah ', df['nilai_fis'].corr(df['nilai_kim']))

Nilai korelasi antara nilai fisika dan kimia adalah  0.7988187423880274

Penjelasan:
Berdasarkan hasil keluaran (output) dari program, kedua atribut nilai fisika dan kimia memiliki korelasi yang bernilai positif dan mendekati angka 1. Dengan demikian, dapat disimpulkan bahwa kedua atribut ini saling berbanding lurus. Semakin besar nilai fisika seorang mahasiswa, semakin besar pula nilai kimia mahasiswa tersebut.