# Problem 1

In [ ]:
# NIM/Nama : 16521124/Frendy Sanusi
# Tanggal : 1 Desember 2021
# Deskripsi : Problem 1 - Menganalisa data rumah yang disewakan di Brazil berdasarkan data PO5-02.csv

In [ ]:
# Import library yang dibutuhkan
import pandas as pd

In [ ]:
# Membaca data
df = pd.read_csv('P05-02.csv')
df # Menampilkan data untuk memudahkan pengerjaan

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
0,Sao Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,Sao Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,Sao Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8226,Sao Paulo,150,3,3,2,8,not acept,furnished,0,13500,0,172,13670
8227,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
8228,Sao Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
8229,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
8230,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020

### 1. Banyaknya data

In [ ]:
# 1. Menghitung banyaknya data
print('Banyaknya data adalah', len(df), 'data.')

Banyaknya data adalah 8231 data.

### 2. Pajak bangunan per tahun terbesar

In [ ]:
# 2. Mencari pajak bangunan per tahun terbesar
terbesar = df['property_tax'].max()

print('Pajak bangunan per tahun terbesar adalah senilai', terbesar)
df.loc[df['property_tax'] == terbesar]

Pajak bangunan per tahun terbesar adalah senilai 313700

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
5114,Sao Paulo,42,1,2,1,6,not acept,not furnished,690,2500,313700,32,316900

### 3. 5 rumah dengan harga sewa per tahun terbesar.

In [ ]:
# 3. Mencari 5 rumah dengan harga sewa per tahun terbesar
sewa_terbesar = df.sort_values(['rent_amount'], ascending=[0])
sewa_terbesar[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
1978,Sao Paulo,80,2,1,1,1,acept,not furnished,875,24000,0,305,25180
933,Sao Paulo,315,3,5,2,14,not acept,not furnished,4300,20000,959,254,25510
2166,Sao Paulo,285,4,5,4,6,acept,furnished,200000,20000,1834,254,222100
1302,Sao Paulo,410,4,5,5,1,acept,not furnished,0,20000,0,254,20250
129,Sao Paulo,660,4,5,5,12,acept,furnished,4800,20000,1750,254,26800

### 4. Rumah yang berada di kota Rio de Janeiro

In [ ]:
# 4. Mencari rumah yang berada di kota Rio de Janeiro
rio_de_janeiro = df.loc[df['city'] == 'Rio de Janeiro']
print('Banyak rumah yang berada di kota Rio de Janeiro adalah', len(rio_de_janeiro), 'rumah.')
rio_de_janeiro

Banyak rumah yang berada di kota Rio de Janeiro adalah 1394 rumah.

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
5,Rio de Janeiro,72,2,1,0,7,acept,not furnished,740,1900,85,25,2750
8,Rio de Janeiro,35,1,1,0,2,acept,furnished,590,2300,35,30,2955
15,Rio de Janeiro,88,2,3,1,9,not acept,furnished,1614,3500,221,16,5351
16,Rio de Janeiro,56,2,1,0,8,acept,not furnished,800,1220,0,16,2036
19,Rio de Janeiro,90,3,2,1,7,acept,not furnished,800,1800,118,24,2742
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8208,Rio de Janeiro,60,2,2,0,13,acept,not furnished,600,2700,154,35,3489
8215,Rio de Janeiro,250,3,2,1,11,acept,not furnished,2000,2700,500,35,5235
8224,Rio de Janeiro,98,2,1,0,1,acept,not furnished,560,3900,184,51,4695
8229,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
8230,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020

### 5. Nilai korelasi antara jumlah tempat parkir dengan pajak tanah per tahun. Apakah berkorelasi lurus, terbalik, atau tidak berkolerasi? Jelaskan.

In [ ]:
# 5. Menghitung nilai korelasi antara jumlah tempat parkir dengan pajak tanah per tahun
# serta menjelaskan apakah berkorelasi lurus, terbalik, atau tidak berkolerasi
print('Nilai korelasinya adalah', df['parking_spaces'].corr(df['homeowner_tax']))

Nilai korelasinya adalah 0.027585689636765953

Penjelasan:
Berdasarkan hasil keluaran (output) dari program, kedua atribut jumlah tempat parkir dan pajak tanah per tahun korelasi bernilai positif dan mendekati angka 0. Dengan demikian, dapat disimpulkan bahwa kedua atribut ini tidak berkolerasi antara satu sama lainnya.